<div *ngIf="movie">
    <mat-card class="order-card" appearance="outlined">
        <img mat-card-image src={{movie.poster}} alt="movie-poster" [alt]="movie.poster">
        <mat-card-content>
            <h3>New order - {{movie.title}}</h3>
            <mat-form-field class="full-width">
                <mat-label> Movie Name: </mat-label>
                <input type="text" matInput [value]="movie.originalTitle" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label> Start Date: </mat-label>
                <input type="text" matInput [value]="movie.startDate" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label> Run Time: </mat-label>
                <input type="text" matInput [value]="movie.runTime"disabled>
            </mat-form-field>   
            <mat-form-field class="full-width">
                <mat-label>Ticket prices: </mat-label>
                <mat-select [(ngModel)]="selectedPrice">
                    <mat-option [value]="10" > Far back seats - 10 <i class="fa-solid fa-euro-sign"></i></mat-option>
                    <mat-option [value]="15" > Middle of theatre - 15 <i class="fa-solid fa-euro-sign"></i> </mat-option>
                    <mat-option [value]="20" > First 10 rows - 20 <i class="fa-solid fa-euro-sign"></i></mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Projection time: </mat-label>
                <mat-select [(ngModel)]="projectionTime">
                    <mat-option [value]="15" > 15:00 h</mat-option>
                    <mat-option [value]="18" > 18:00 h</mat-option>
                    <mat-option [value]="21" > 21:00 h</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="full-width">
                <mat-label>Ticket count: </mat-label>
                <input type="number" matInput [(ngModel)]="selectedTicketCount">
            </mat-form-field>       
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="doOrder()">
                <i class="fa-solid fa-cart-shopping"></i> Buy Ticket
            </button>
        </mat-card-actions>
    </mat-card>
</div>