<mat-toolbar color="primary">
    <span><i class="fa-solid fa-film"></i> iMooovies</span>
    <span class="spacer"></span>
    <a routerLink="/" mat-button><i class="fa-solid fa-house"></i> Home</a>
    <a routerLink="/search" mat-button><i class="fa-solid fa-magnifying-glass"></i> Search </a>
    <a routerLink="/about" mat-button><i class="fa-solid fa-circle-info"></i> About </a>
    <a routerLink="/" mat-button><i class="fa-solid fa-ticket"></i> Ticket </a>
    <a routerLink="/login" mat-button><i class="fa-solid fa-user"></i> Login </a>
    <a routerLink="/register" mat-button><i class="fa-solid fa-user-plus"></i> Register </a>
    <a routerLink="/store" mat-button><i class="fa-solid fa-cart-shopping"></i> Store </a>
</mat-toolbar>
<router-outlet />
