<div class="wrapper" *ngIf="user">
  <mat-card class="user-card" appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" [src]="['https://ui-avatars.com/api/?name='+ user.email]">
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>
        <p class="no-border">Total orders: {{user.orders.length}}</p>
        <p class="no-border">Favorite Genre: {{user.favoriteGenre}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="doChangePassword()">
        <i class="fa-solid fa-key"></i> Change Password
      </button>
    </mat-card-actions>
  </mat-card>
  </div>