<div *ngIf="movies && movies.length > 0" class="searchContainer">
    <mat-card class="example-card-search" appearance="outlined" *ngFor="let movie of movies">
        <img mat-card-image src={{movie.poster}} alt="movie-poster" [alt]="movie.poster" class="movie-poster-search">
        <mat-card-content>
            <h3>{{movie.title}}</h3>
            <p>{{movie.shortDescription}}</p>            
            <p>{{movie.startDate}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button> <i class="fa-solid fa-up-right-from-square"></i> See more </button>
            <button mat-button><i class="fa-regular fa-credit-card"></i> Buy Ticket </button>
        </mat-card-actions>
    </mat-card>
</div>