<div *ngIf="movies && movies.length > 0" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies | slice:0:3">
        <img mat-card-image src={{movie.poster}} alt="movie-poster" [alt]="movie.poster">
        <mat-card-content>
            <h1>{{movie.title}}</h1>
            <p>{{movie.shortDescription}}</p>
            <p>Režiser: {{movie.director.name}}</p>
            <p>Glumci:
                <span *ngFor="let actor of movie.movieActors">
                    {{ actor.actor.name }}{{ actor !== movie.movieActors[movie.movieActors.length - 1] ? ', ' : '' }}
                </span>
            </p>
            <p>{{movie.startDate}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/', movie.movieId]"> <i class="fa-solid fa-up-right-from-square"></i> Details </a>
            <a mat-button [routerLink]="['/details/'+movie?.movieId+'/order']"> <i
                class="fa-solid fa-cart-shopping"></i> Buy Ticket </a>
        </mat-card-actions>
    </mat-card>
</div>
<app-loading *ngIf="!movies && !error"></app-loading>   
